@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,600&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Asap',Sans-Serif;
    user-select: none;
    -moz-user-select: none;
}


header{
    background: #eb5266;
    padding: 50px;
    text-align: center;
    font-size: 50px;
}

footer{
    font-size: 60px;
    margin-top: 100px;
    padding: 50px;
    text-align: center;
    font-weight: bold;
    background: #eb5266;
}

body{
    background: #dcc8e3;
}

td{
  border: 8px solid black;
  width: 270px;
  height:270px;
  text-align: center;
  font-size: 150px;
  color: red;
}

table{
    margin: 60px;
    border-collapse: collapse;
    border-radius: 40px;
}

#board_reset{
    text-align: center;
    margin : 50px 0px 20px 230px;
    padding: 70px 100px 70px 100px;
    border: none;
    color: white;
    font-size: 60px;
    display: inline-block;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    background-color: green;
    box-shadow: 0 9px #999;
    
}

#board_reset:hover {
    background: green;
}

#board_reset:active {
  background-color: #6a1a91;
  transform: translateY(6px);
}

.result{
    float: left;
    display: inline-block;
    color: red;
}

.dashboard{
    color: red;
    border: 10px solid black;
    text-align: center;
    font-size: 60px;
    border-radius: 15px;
    margin: 2px;
    padding: 50px;
    position: relative;
    
}

#x{
    position: absolute;
    top: 0px;
    left: 0px;
}

#o{
    position: absolute;
    top: 0px;
    left: 44%;
    color: green;
}
#draw{
    position: absolute;
    top: 0px;
    right: 0px;
}

#xscr{
    position: absolute;
    left: 15px;
    font-size: 75px;
    bottom: 5px;
}
    

#oscr{
    position: absolute;
    left: 53%;
    font-size: 75px;
    bottom: 5px;
    color: green;
}

#drawscr{
    position: absolute;
    right: 25px ;
    bottom: 5px;
    font-size: 75px;
}